$primary_color:#0076ff;
$primary_hover_color: #003217;

body{
    background-color: $primary_color;
    color:antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 1px;
    text-align: center;
}

header{
    width:100%;
    background-color: #0076ff;
    box-shadow: 0 4px 8px rgba($color: #000000, $alpha: 1.0);
}

